.search-container
    display: flex
.search-input
    flex: 0.5
    min-width: 200px
.search-button
    margin-right: 15px
.select-wrapper
    margin-left: 20px
.search-term
    font-weight: bold
    font-style: italic
    &:before
        content: '\"'
    &:after
        content: '\"'